#md * {
	margin:0;
	padding:0;
}

#md {
	color:#333;
	font-family:arial,sans-serif;
	font-size:0.8em;
	padding:30px;
	width:auto;
}

#md a {
	color:#09c;
}

#md a:hover {
	text-decoration:none;
}

#md code {
	background:#e3e3e3;
	border:1px solid #ccc;
	border-radius:5px;
	display:block;
	margin:0 0 15px 0;
	padding:15px;
	width:auto;
}

#md h1 {
	border-bottom:1px dotted #ccc;
	font-size:1.7em;
	margin:0 0 15px 0;
	padding:0 0 15px 0;
}

#md h2 {
	font-size:1.2em;
	margin:0 0 15px 0;
	padding:15px 0 0 0;
}

#md img {
	border:none;
}

#md p {
	margin:0 0 15px 0;
}
ol {
    counter-reset: num 0;
}
ol li {
    list-style-type: none;
}
ol li:before {
    counter-increment: num;
    content: counter(num) ". ";
}
